{% extends "base.html"%}

{% block content %}

<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
<div id="product-main-img">
<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>
</div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
<div id="product-imgs">
<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
<img src="./img/2630035505/2630035505(2).jpg" alt="">
</div>
</div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
<div class="product-details">
<h1 class="product-name"> هواکش با شماره قطعه <span class="product"> 3C100-28164</span> </h1>
<div>
<p>  هواکش با شماره قطعه<span class="product"> 3C100-28164</span> یکی از قطعات اصلی و حیاتی در سیستم تهویه داخلی خودروهای هیوندا است. این هواکش به عنوان یک بخش اساسی از سیستم تهویه، مسئولیت تأمین هوایی تمیز و تازه را برای مسافران و راننده فراهم می‌کند.</p>
         
<div class="add-to-cart">

</div>

      <div class="direct-contact-container">
 <hr class="hrRed">
        <ul class="contact-list">
        
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(+98) 9036902400</a></span></i></li>
         
        </ul>

        <hr class="hrRed">
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-facebook-f" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-telegram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>       
        </ul>
         


      </div>
    


</div>
</div>
</div>
</div>
<!-- /row-->
</div>
<!-- /container -->
</div>
<!-- /section -->


{% endblock %}
